/* Fonts */
@font-face {
font-family: Noyh;
font-weight: bold;
src: url("fonts/noyh_bold.otf") format("opentype");
}

@font-face {
font-family: Planer;
font-weight: regular;
src: url("fonts/planer_regular.otf") format("opentype");
}

p {
    font-family: Planer;
    font-weight: regular;
}

h1 {
    font-family: Noyh;
    font-weight: bold;
}

h2 {
    font-family: Noyh;
    font-weight: bold;
}

h3 {
    font-family: Planer;
    font-weight: bold;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 740px;
    margin: 0 auto;
    padding-top: 100px;
    margin-bottom: 1000px;
}

section .wide {
    flex-grow: 1;
}

.header .headerbox{
    position: relative;
    height: 110px;
    width: 100%;
    background-color: #1FBCD2;
}

img.small{
    height: 200px;
}
